body {
  background: white;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  text-align: center;
  background: #AD92E8;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 2px;
}

@media (max-width: 600px) {


  body {
    border: 1px solid #74629C;
    background-color: white;
    border-radius: 5px;
    margin: 20px 40px;
    padding: 30px;
  }
}