body {
  font-family: 'Roboto', sans-serif !important;
}

#root {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.form__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  width: 300px;
}

.form__field,
.form__button {
  background-color: #ece1e1;
  border: 2px solid #ad92e8;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif !important;
  height: 30px;
  margin-bottom: 10px;
}

.form__field {
  width: 235px;
}

.form__button {
  width: 160px;
}

.form__field::placeholder {
  color: #000;
  padding-left: 20px;
}

.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.option_form {
  text-decoration: underline;
  color: #302746;
}

.enter__register {
  display: flex;
  justify-content: center;
}

.enter__register-link {
  margin-left: 5px;
}

.button-gmail {
  margin: 20px 0px;
}

.button-gmail i {
  font-size: 50px;
}

.logo-desktop {
  display: none;
}

.logo-mobile {
  display: block;
}

.form-title {
  display: none;
}



.home {
  width: 100%;
}

.menu {
  display: block;
}

.active {
  display: block;
}

.disable {
  display: none;
}

.nav-home {
  background-color: #ad92e8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
}

.menu {
  color: #3b324f;
  font-size: 25px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.list-menu {
  position: absolute;
  left: 0px;
  top: 50px;
  background-color: #ad92e8;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #3b324f;
}

.list-menu li {
  margin-left: 10px;
}

.title-knowledge {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #3b324f;
  text-align: center;
}

.mainly-home {
  padding: 0px 20px;
  justify-content: space-evenly;
}

.post-form {
  margin-top: 50px;
  border: 1px solid #3b324f85;
  border-radius: 5px;
  padding: 20px;
}

.post-input {
  width: 100%;
  height: 60px;
}

.buttons-post {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-post-button {
  padding: 5px 15px;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  border-radius: 20px;
}

.selector-checkbox {
  visibility: hidden;
}

.private-checkbox {
  font-size: 22px;
}

.list {
  border-radius: 5px;
  border: 1px solid #3b324f85;
  margin: 25px 0px;
}

.list p,
.list-buttons {
  color: #333;
  padding: 5px 10px;
  border: 1px solid #3b324f85;
}

.list p {
  font-size: 20px;
  padding: 20px 10px;
}

.list-buttons {
  background-color: #ad92e8;
}

.list-buttons button {
  margin: 0px 3px;
}

.personal-profile {
  display: flex;
  flex-direction: column;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.profile__section {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .logo-desktop {
    display: block;
    width: 70%;
  }

  .logo-mobile {
    display: none;
  }

  .form-title {
    display: block;
    color: #392369;
    font-size: 70px;
    margin: 50px 0px;
  }

  .container__form {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 0px 50px;
  }

  .container__auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }

  .form__field {
    font-family: 'Roboto', sans-serif;
    width: 427px;
  }

  .form__button {
    width: 238px;
  }

  .header {
    width: 40%;
  }

  .mainly-home {
    display: flex;
  }
  
  .box__profile {
    display: flex;
    margin-top: 50px;
    border: 1px solid #3b324f85;
    border-radius: 5px;
    height: 200px;
    align-items: center;
    width: 25%;
    justify-content: space-around;
  }

  .profile__avatar {
    display: flex;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    width: 150px;
    height: 150px;
  }

  .profile__avatar img {
    width: 270px;
    height: auto;
  }

  .info__profile {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    align-items: center;
  }

  .info__profile h2 {
    font-size: 30px;
    font-weight: 900;
  }

  .logo-desktop {
    width: 100%;
  }

  .back {
    margin-top: 50px;
  }
}

@media screen and (max-height: 600px) {
  .form-title {
    margin: 30px 0px;
  }

  .form__box {
    margin-bottom: 20px;
  }

  .enter {
    margin-bottom: 20px;
  }

  .back {
    margin-top: 20px;
  }
}